$white: #fff;
$white_two: #f4f7f6;
$gray: #eaeaea;
$gray_two: #efefef;
$strong_gray: #999;
$strong_gray_two: #434651;
$super_gray: #444;
$half_white: #e8f1f3;
$green: #86c541;
$pink: #e47297;
$blue: #1d8ecd;